extends layout

block content
  h1 Treehouse Badge Lookup
  p Please enter your Treehouse username to view your badges.
  //- div.result-list
  //- form
    //- input(type="text")
    //- input(type="submit" value="Submit")
    //- Lines 6-8 are the Jade code to create a form on the page.
