extends layout

block content
  h1= title
  p Welcome to the information.
  //- form
    //- input(type="text")
    //- input(type="submit" value="Submit")
    //- Lines 6-8 are the Jade code to create a form on the page.
