body {
  padding: 50px;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#resultFormat {
  color: #E84700;
  font-size: 26px;
  font-weight: bold;
}

.imgStyle {
	display: flex;
	flex-flow: row wrap;
}

.badgeImage {

}

p .badgeName {
  color: red;

}

