body {
  padding: 50px;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#resultText {
  color: #E84700;
  font-size: 26px;
  font-weight: bold;
}

.res-list {
	display: flex;
	flex-flow: column nowrap;
	max-width: 70%;
}

.res-list:nth-child(even) {
	color: red;
}

/*.res-list:nth-child(even) {
	margin-right: 25px;
}*/

.imgStyle {
	margin: 10px;
	height: 10em;
	width: 3em;
}